@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    font-family: Inter;
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}

h1 { font-size: 64px }
h2 { font-size: 48px }
h3 { font-size: 36px }
h4 { font-size: 24px }
h5 { font-size: 20px }
h6 { font-size: 16px }

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bebas Neue';
    font-weight: 400;
}

p { 
    font-size: 16px;
    line-height: 150%;
}

.caption { font-size: 12px }

h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgba(255, 255, 255, 0.80);
}

p {
    color: rgba(255, 255, 255, 0.60);
}

.caption {
    color: rgba(255, 255, 255, 0.50);
}

body {
    background-color: rgba(0, 0, 0, 1);
    overflow: hidden;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.btn-icon {
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-icon svg {
    fill: #FFFFFF;
    width: 20px;
    height: 20px;
}

.chip {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222222;
}

.chip>img {
    height: 20px;
    width: 20px;
}

#viewport {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

#mobile-navigation {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(6px);
    transition: 1s;
    z-index: 10;
    top: 0px;
    display: flex;
    flex-direction: column;
}

#mobile-navigation>.row {
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

#mobile-navigation>.column {
    flex-grow: 1;
    overflow-x: hidden;
}

#mobile-navigation>.column a {
    font-family: 'Bebas Neue';
    text-decoration: none;
    color: #FFFFFF;
    font-size: 24px;
    padding: 14px 20px;
}

section {
    display: flex;
    margin: auto;
    position: relative;
    padding: 80px 0px;
}

section>div {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

nav {
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 40px;
    left: 0px;
    right: 0px;
    box-sizing: border-box;
}

nav>a {
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

nav>div {
    gap: 40px;
    align-items: center;
}

nav>div a {
    text-decoration: none;
    font-family: 'Bebas Neue';
    color: #FFFFFF;
}

nav>div a:hover {
    color: #931FDB;
}

.btn-text-pri,
.btn-text-sub {
    padding: 10px 30px;
    border-radius: 25px;
    box-sizing: border-box;
    font-size: 16px;
    text-decoration: none;
    border: 2px solid rgba(255, 255, 255, 0.10);
}

.btn-text-pri>span,
.btn-text-sub>span {
    font-family: 'Bebas Neue';
    color: #FFFFFF;
}

.btn-text-pri {
    background-color: rgba(255, 255, 255, 0.10);
}

.btn-text-sub {
    border: 2px solid rgba(255, 255, 255, 0.10);
}

.card-exp {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.card-exp h3 {
    line-height: 30px;
}

.card-exp .shape-circle {
    height: 20px;
    width: 20px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
}

.card-exp .shape-line-v {
    width: 1px;
    flex-grow: 1;
    background-color: #FFFFFF;
}

.card-exp>.column:first-child {
    align-items: center;
}

.card-exp>.column:last-child {
    margin-bottom: 30px;
    gap: 10px;
}

.card-exp>.column:last-child>.column {
    gap: 4px;
}

.skill-card {
    aspect-ratio: 1/1;
    width: calc(33.33% - 20px);
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.10);
    box-sizing: border-box;
}

.card-works {
    background-color: rgba(0, 0, 0, 0.10);
    min-height: 50px;
    border-radius: 20px;
    box-sizing: border-box;
}

.card-works {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-works>.column>.row {
    gap: 10px;
    flex-wrap: wrap;
}

.card-works {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.10);
}

.card-works>.column {
    background: linear-gradient(0deg, rgba(17,17,17,0.9) 0%, rgba(17,17,17,0) 100%);
    height: 100%;
    box-sizing: border-box;
    padding: 30px;
    justify-content: end;
    gap: 20px;
}

.social-icons {
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons svg {
    height: 20px;
    width: 20px;
    fill: #FFFFFF;
}

#section-hero {
    background-image: url(../assets/images/hero-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    padding: 0px;
}

#section-hero>div {
    max-width: 100%;
    background: linear-gradient(-45deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
}

#section-hero>div>.column {
    gap: 20px;
}

#section-hero>div>.column>.row {
    gap: 10px;
}

#section-experiences>div {
    gap: 40px;
}

#section-skills>div {
    display: flex;
    gap: 30px;
}

#section-skills>div>div {
    flex-wrap: wrap;
}

#section-skills>div>div:first-child {
    gap: 30px;
}

#section-skills>div>div:last-child {
    gap: 30px;
}

#section-works>div {
    max-width: 100%;
    align-items: center;
    gap: 40px;
}

#section-works>div>.column {
    text-align: center;
}

#section-works>div>.row {
    box-sizing: border-box;
    width: 100%;
    overflow-y: hidden;
    flex-wrap: nowrap;
    gap: 30px;
}

#section-works>div>.row::-webkit-scrollbar {
    display: none;
}

#section-works>div>#slide-controls {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

#section-works>div>#slide-controls .btn-icon {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
}

#section-works>div>#slide-controls .btn-icon:hover {
    background-color: #931FDB;
}

#section-works>div>#slide-controls #pages {
    gap: 10px;
}

#section-works>div>#slide-controls .page-btn-inactive,
#section-works>div>#slide-controls .page-btn-active {
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

#section-works>div>#slide-controls .page-btn-inactive {
    background-color: rgba(255, 255, 255, 0.10);
}

#section-works>div>#slide-controls .page-btn-active {
    background-color: rgba(255, 255, 255, 0.50);
}

#section-contact>div {
    align-items: center;
}

#section-contact>div>* {
    align-items: center;
    text-align: center;
}

#section-contact>div>.row {
    justify-content: center;
    gap: 16px;
}

@media screen and (min-width: 1200px) {
    .card-works {
        aspect-ratio: 16/9;
    }

    .skill-card>img {
        aspect-ratio: 1/1;
        width: 80px;
    }

    nav .btn-icon {
        display: none;
    }

    section>div,
    #section-hero>div>* {
        width: 100%;
        max-width: 1200px;
        margin: auto;
    }

    #section-hero>div {
        justify-content: center;
        width: 100%;
    }

    #section-hero>div>.column>* {
        width: 50%;
    }

    #section-skills {
        flex-direction: row;
    }

    #section-skills>div>div {
        max-width: 50%;
    }

    #section-works>div>.column {
        width: 50%;
    }

    #section-works>div>.row {
        padding: 0px 30px;
    }

    #section-works>div>.row .card-works {
        min-width: calc(100% - 25%);
        max-width: 1200px;
    }

    #section-contact>div>* {
        width: 50%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {}

@media screen and (max-width: 767px) {
    h1 { font-size: 48px }
    h2 { font-size: 36px }
    h3 { font-size: 24px }
    h4 { font-size: 20px }
    h5 { font-size: 18px }
    h6 { font-size: 16px }

    p { font-size: 14px }

    .card-works {
        aspect-ratio: 1/1;
    }

    .skill-card>img {
        aspect-ratio: 1/1;
        width: 60px;
    }

    section>div>* {
        width: calc(100% - 40px);
        margin: 0px auto;
    }

    nav {
        display: flex;
    }

    nav .btn-icon {
        display: flex;
    }

    nav>div[class="row"] {
        display: none;
    }

    #section-hero>div {
        justify-content: center;
        align-items: center;
    }

    #section-hero>div>.column {
        width: 90%;
        margin: 0px auto;
    }

    #section-hero>div>.column>* {
        text-align: center;
        justify-content: center;
    }

    #section-skills>div {
        flex-direction: column;
    }

    #section-works>div>.row {
        padding: 0px 30px;
    }

    #section-works>div>.row .card-works {
        min-width: 100%;
        max-width: 1200px;
    }
}